#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

/* App.css */

.container {
  display: flex;
  width: 90vw;
  height: 90vh; /* Adjust the height as needed */
}

.left-title {
  text-align: center;
}

.left-side {
  width: 40%;
  overflow-y: auto; /* Allows scrolling if content is too long */
  border-right: 2px solid #ccc; /* Aesthetic vertical line */
}

.left-content {
  
}

.right-side {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.top-part {
  height: 40%;
  padding: 10px;
  overflow-y: auto; /* Allows scrolling if content is too long */
}

.bottom-part {
  height: 60%;
  padding: 10px;
  overflow-y: auto; /* Allows scrolling if content is too long */
}
