#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

/* App.css */

.container {
  display: flex;
  width: 100vw;
  height: 100vh; /* Adjust the height as needed */
}

.left-title {
  text-align: center;
}

.left-side {
  width: 40%;
  overflow-y: auto; /* Allows scrolling if content is too long */
}

.right-side {
  width: 60%;
  overflow-y: auto; /* Allows scrolling if content is too long */
}
